@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRUD Operation</h1>
    <p class="lead">CRUD operation in MVC is the basic operations, where CRUD denotes create, read, update, and delete.</p>
    <p><a href="https://www.geeksforgeeks.org/basic-crud-create-read-update-delete-in-asp-net-mvc-using-c-sharp-and-entity-framework/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Create</h2>
        <br />
        <p class="text-info h4">Enter new Developer details.</p>
        <p><a class="btn btn-primary" href="~/Home/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Read</h2>
        <br />
        <p class="text-info h4">List of All Developer.</p>
        <p><a class="btn btn-primary" href="~/Home/Read">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Update</h2>
        <br />
        <p class="text-info h4">Update existing Developers Details</p>
        <p><a class="btn btn-primary" href="~/Home/Read">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Delete</h2>
        <br />
        <p class="text-info h4">Delete Developers Details</p>
        <p><a class="btn btn-primary" href="~/Home/Read">Learn more &raquo;</a></p>
    </div>
</div>